<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetBrowser.Chromium.Win-x86.Net45" version="2.26.0" targetFramework="net472" />
  <package id="DotNetBrowser.x86" version="2.26.0" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net472" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net472" />
</packages>